.Add{display: flex;justify-content: space-evenly;}
.input>form>input[type=text]{ border: 2px solid white;width: 50%; padding: 10Px;}
.input>form>button{background-color: violet;border: 2px solid white;color: white;padding: 10Px;cursor: pointer;}
