*{margin: 0px;}
.primary{color:black; margin: 25px;padding: 25px; background-image: url('./wall1.jpg'); width: 90%; height: 100%; text-align: center;  }
.teamselection{text-align: center;}
#a{width: 45%;background-color:#0B5FA5;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;font-size: 20px; float: left;}
#b{ width: 45%; background-color:#0B5FA5;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;font-size: 20px; float: right;}

div>h2{float: left;}
#Aplayerslist{float: left;}
#Bplayerslist{float: right;}
.data ul{text-align: left;}
.data{background-color: rgb(85, 156, 156);}
.BUT{height: 1cm;width: 3.5cm;}
