*{margin: 0px;} 
.wrap1
      { width: 100% ;height: 60vh; background-image:url('./win.jpg');background-attachment: fixed ;background-size: cover;background-position: center;background-repeat: no-repeat;
       opacity: 1; display: block;transition: .5s ease; }
.container{position: relative; width: 100%;}
.middle{transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.container:hover .wrap1{opacity: 0.5;}
.container:hover .middle{opacity:1;}    
.text{background-color: rgb(14, 224, 77);
    color: rgb(206, 16, 16);
    font-size: 16px;
    padding: 16px 32px;}

.wrap2{
    width:100%;
    height: 15vh;
    font-size: xx-large;
    font-style: italic;
    background-color:#8a6a45;
    opacity: 1;
}
    
.teams{
    width: 100%;
    display: table;
    border: 1px;
    background-color:#8a6a45;
    opacity: 1;
    height: 15vh;
}

.first{
    display: table-cell;
    height: 50%;
    font-size: large;
    width:25%;
}

.shape{
    
  background-color:rgba(25, 55, 78, 0.7);
  width: 40%;;
  height:60%;
  background: linear-gradient( #458a6a,lightblue);
  border-radius: 75px;
   border: 5px solid #e9e9e9;
   text-align: center;
   float: left;
   
   
}

.compare{
    width: 45%;
    height: 50%;
    font-size: xx-large;
    font: outline;
    font-family: serif;
    display: table-cell;
}

.second{
    display: table-cell;
    width: 50%;
    height: 50%;
    font-size:large ;
}

.shape2{
    background-color:rgba(25, 55, 78, 0.7);
     width: 30%;;
    height:60%;
    background: linear-gradient( #458a6a,lightblue);
    border-radius: 75px;
    border: 5px solid #e9e9e9;
    text-align: center;
    float: right;

}

.score{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    background-color:#8a6a45;
    font-family:  Helvetica, sans-serif;
    font-size: medium;
    

}
.wins{
    width: 100%;
    font-family: sans-serif;
    height: 15vh;
    background-color:#8a6a45;
    opacity: 1;
    font-size: large;
    


}