.ENTERTEAMS{margin: 5%; align-items: center;background-repeat: no-repeat;height: 100vh;}
.Enter{display: flex;justify-content:space-evenly;border: black;}
.Tinput{ margin: 0 20px;width: 60%;}
.Pnames{ margin:0 20px; display: flex;justify-content:space-between;}
.ETeamIN{display: flex;justify-content:space-around;}
.ETeamIN>.EINPUT>form>input[type=text]{ border: 2px solid white;width: 60%; padding: 10Px;}
.ETeamIN>.EINPUT>form>button{background-color: violet;border: 2px solid white;color: white;padding: 10Px;cursor: pointer;}
#EPN{margin-top: 5%;}
.TEnter{display: flex;justify-content:space-around;}
.select{border: 2px solid white;width: 60%; padding: 10Px; float: left;}
.Tlist{list-style-type: none;cursor: pointer;}
.Tlist>li{float: left;margin:5% 0 5% 0; color:#FF5D00;text-shadow:2px 2px 1px whitesmoke ;}
.PLYN{text-align: left;}
.nextbtn{ background-color:violet;
    border: 2px solid rgb(245, 240, 240);
    border-radius: 40px;
    width: 25%;
    color: white;
    cursor: pointer;
    font-size: 25px;
   float: right;
    }    

    .nextbtn:hover {
        background-color: white;
        color:#A5066A;
      } 
@media(max-width: 850px){
    .ENTERTEAMS{font-size: 12px;}
    .Enter{flex-direction:column;}
    .Tinput{font-size: 10px;}
    .ETeamIN>.EINPUT>form>input[type=text]{width:40%;padding: 3px;}
    .ETeamIN>.EINPUT>form>button{width:30%;padding: 3px;}
    .Tlist>li{display: inline-block;}
    .nextbtn{font-size:15px;}
} 